---
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths(){
    const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');

    return  allBlogArticles.map(entry => ({
        params:{
            slug: entry.slug
        },
        props:{entry}
    }));
}

const { entry } = Astro.props;
const {Content} = await entry.render();

---

<MainLayout pageTitle = "placeholder">
    
    <a href = {`/phase/`+ entry.data.phase}>h</a>
    <br/>


    <h1>{entry.data.title}</h1>

    <Content>
    </Content>

</MainLayout>
<style>
    body{
        border:5px solid red;
        height:700px;
    }
</style>