---
const {phase, article} = Astro.props;
---

<a href = {`/phase/`}>thought</a>
<br/>
<style>
    a{
        background-color: blue;
        color:white;
        text-decoration: none;
        padding:5px 10px;
        border-radius: 20px;
    }
    a:hover{
        background-color: darkblue;
    }
</style>